/*-- scss:defaults --*/

$h3-font-size: 1.3rem;
$h4-font-size: 1.1rem;

// Base document colors
$link-color: #0C5DFE;
$code-block-bg: #EDEFF1;

$callout-border-scale: 1%;
$callout-icon-scale: 10%;


$callout-margin-top: 1.0rem;
$callout-margin-bottom: 1.7rem;

$callout-color-warning: #F72D93;
$callout-color-caution: #EEAA2C;
$callout-color-important: #FCE762;
$callout-color-tip: #540375;
$callout-color-note: #540375;



/* Content Boxes
------------------------------------------------------------ */
 
.content-box-blue,
.content-box-gray,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
    margin: 0 0 60px;
    overflow: hidden;
    padding: 20px;
}
 
.content-box-blue {
    background-color: #d8ecf7;
    border: 1px solid #afcde3;
}
 
.content-box-gray {
    background-color: #e2e2e2;
    border: 1px solid #bdbdbd;
}
 
.content-box-green {
    background-color: #d9edc2;
    border: 1px solid #b2ce96;
}
 
.content-box-purple {
    background-color: #e2e2f9;
    border: 1px solid #bebde9;
}
 
.content-box-red {
    background-color: #f9dbdb;
    border: 1px solid #e9b3b3;
}
 
.content-box-yellow {
    background-color: #fef5c4;
    border: 1px solid #fadf98;
}

