/*-- scss:defaults --*/

$h3-font-size: 1.3rem;
$h4-font-size: 1.0rem;

// Base document colors
$link-color: #0C5DFE;
$code-block-bg: #EDEFF1;

$callout-border-scale: 1%;
$callout-icon-scale: 10%;


$callout-margin-top: 1.0rem;
$callout-margin-bottom: 1.7rem;

$callout-color-warning: #F72D93;
$callout-color-caution: #EEAA2C;
$callout-color-important: #FCE762;
$callout-color-tip: #540375;
$callout-color-note: #540375;


